

<div ng-include="relativizePath('all-issues/header.html')"></div>

<div class="refinement-panel" data-ui-scrollfix="+297">

    <input type="text" ng-model="search" class="search-input" placeholder="Search">

    <label><input type="checkbox" checked ng-change="updateState()"  ng-model="stateControls.showIssuesWithComments">Show issues with comments</label>
    <label><input type="checkbox" checked ng-change="updateState()"  ng-model="stateControls.showIssuesWithOutComments">Show issues without comments</label>

    <h4 class="text-center">Labels</h4>
    <ul>
        <li class="tag-item"
            ng-click="setSelectedLabels()"
            ng-repeat="lbl in labels| orderBy:'name'"
            style ="background-color: #{{lbl.color}};">
            <i class="fa" ng-class="isChecked(lbl.name)"></i>
            <span class="badge pull-right">{{lbl.amount}}</span>
            {{lbl.name}}
        </li>
    </ul>
</div>



<div class="issue"
     ng-repeat="issue in filtered = (issues| githubTagsFilter:selectedLabels| checkboxesFilter:stateControls | filter:search) | orderBy:'created_at':true
                 track by $index">

    <div class="authorPlaceholder"
         style="background-image: url({{issue.user.avatar_url}});"
         title="Opened by {{issue.user.login}}">
    </div>
    <div class="assigneePlaceholder"
         style="background-image: url({{issue.assignee.avatar_url}});"
         title="Assigned to {{issue.assignee.login|| 'no one yet'}}">
    </div>
    <span class="issue-title">
        {{issue.title}}
        <span class="issue-title-comments" ng-if="issue.comments != 0" data-ng-click="loadComments($event, issue)">
            <i class="fa fa-comments-o"></i> {{issue.comments}} comments
        </span>

        <a href="{{issue.html_url}}" class="issue-title-github-link" target="_blank" title="View on github"><i class="fa fa-github-alt"></i>
        </a>

        <a ng-if="issue.eKnightSlug != false" href="#/{{issue.eKnightSlug}}" title="הדף של {{issue.repoName}}  " class="issue-title-repoName">{{issue.repoName}}</a>
        <span ng-if="issue.eKnightSlug == false" class="issue-title-repoName">{{issue.repoName}}</span>
    </span>
    <span class="label-warp">
        <span class="label"
              style="background-color: #{{label.color}}"
              ng-repeat="label in issue.labels">
            {{label.name}}
        </span>
    </span>
    <span class="like-a-pre issue-body"
          ng-class="{issueBodyOpen:issue.textLimit != 30}"
          ng-bind-html="issue.body|highlight:search | limitTo:issue.textLimit|trust"></span>
    <span ng-if="issue.textLimit == 30 && issue.body.trim().length < 0">...</span>
    <a class="read-more"
       ng-if="issue.textLimit == 30 && issue.body.trim().length > 0"
       ng-click="readMore($event, issue)">read more</a>


    <span class="issue-title-time"
          title="Created at {{issue.israelFormatCreated_at}}">about {{issue.timeSince}} ago</span>

    <div class="clearfix"></div>

    <div class="bubble-container" ng-repeat="comment in issue.comments_list|orderBy:'created_at'">
        <div class="authorPlaceholder bubble-avatar"
             style="background-image: url({{comment.user.avatar_url}});"
             title="Commented by {{comment.user.login}}"></div>

        <div class="bubble">
            <span class="bubble-title">
                <a class="author" href="{{comment.user.html_url}}">{{comment.user.login}}</a> commented {{comment.timeSince}} ago.

                <a href="{{comment.html_url}}" class="bubble-title-github" target="_blank" title="View on github">
                    <i class="fa fa-github-alt"></i></a>
            </span>
            <span class="bubble-box like-a-pre">{{comment.body}}</span>
        </div>
    </div>
</div>
