
<div data-ui-show="showHide" class="float-pnl info-pnl">
    <a class="close-btn" ng-click="showHide = !showHide">
        <i class="fa fa-times-circle"></i>
    </a>
    <div ng-include="'main-page/info.html'"></div>
</div>
<div data-ui-show="infoPnlSH" class="float-pnl what-is-eKnight">
    <a class="close-btn" ng-click="infoPnlSH = !infoPnlSH">
        <i class="fa fa-times-circle"></i>
    </a>
    <div ng-include="'main-page/what-is-eKnight.html'"></div>
</div>


<div class="main">
    <div class="index-header ">
        <div>
            <h1>ארץ החשמבירים </h1>
            <h2>מבית הסדנא לידע ציבורי</h2>

            <a class="index-btn" ng-click="showHide = !showHide">מה הולך כאן?</a>
            <a class="index-btn" ng-click="infoPnlSH = !infoPnlSH">מה זה חשמביר?</a>
            <a class="index-btn" href="#/all-issues">רוצים לעזור קצת?</a>
        </div>
    </div>
    <div class="eknights">
        <article ng-repeat="eKnight in (eKnights|orderBy:'lastUpdate':true|emptyToEnd:'lastUpdate')" class="eKnight">
            <h3>{{eKnight.name}}</h3>
            <p>{{eKnight.about}}</p>
            <ul class="status-list">
                <li>
                    <strong>סטטוס: </strong> {{eKnight.status}}
                </li>
                <li>
                    <strong>רמת כניסה: </strong> {{eKnight.status}}
                </li>
                <li title="{{eKnight.lastUpdate| date:'בdd לM yyyy בשעה HH:mm'}}">התעדכן לאחרונה {{eKnight.lastUpdate|hebTimeAgo}}</li>
            </ul>

            <div class="button-bar">
                <a class="btn" href="{{eKnight.permalink}}">
                    <span class="btn-icon fa fa-home"></span>
                    <span class="btn-text">עמוד הבית</span>
                </a>
                <a class="btn" href="#/{{eKnight.slug}}" >
                    <span class="btn-icon fa fa-comments-o"></span>
                    <span class="btn-text">עמוד החשמביר</span>
                </a>
                <a class="btn" href="{{eKnight.github_repo}}">
                    <span class="btn-icon fa fa-github"></span>
                    <span class="btn-text">גיטהאב</span>
                </a>
            </div>
        </article>
    </div>

</div>

<ng-include id="small-repos-warp" src="'main-page/small_repos.html'"> </ng-include>


<footer class="app-footer"></footer>
