
<header class="app-header">
    <div class="container">
        <h1>{{eKnight.name}}</h1>
        <h2>{{eKnight.about}}</h2>
    </div>

    <div class="row">
        <div class="col-xs-4 col-sm-2">
            <div class="box-quick-link green-background">
                <a href="{{eKnight.permalink}}">
                    <div class="box-header">
                        <div class="icon-comments">
                            <i class="fa fa-link"></i> 
                        </div>
                    </div>
                    <div class="box-title">לינק</div>
                </a>
            </div>
        </div>
        <div class="col-xs-4 col-sm-2">
            <div class="box-quick-link blue-background">
                <a href="{{eKnight.github_repo}}">
                    <div class="box-header">
                        <div class="icon-comments">
                            <i class="fa fa-github"></i>
                        </div>
                    </div>
                    <div class="box-title">github</div>
                </a>
            </div>
        </div>

        <div class="col-xs-4 col-sm-2">
            <div class="box-quick-link orange-background">
                <a href="{{eKnight.github_repo}}">
                    <div class="box-header">
                        <i class="fa">◵</i>
                    </div>
                    <div class="box-title">דיאגרמת קבצים</div>
                </a>
            </div>
        </div>
    </div>

</header>

