<div class="main">
    <div class="index-header ">
        <div>
            <h1>ארץ החשמבירים </h1>
            <h2>מבית הסדנא לידע ציבורי</h2>
        </div>
    </div>
    <div class="eknights">
        <article ng-repeat="eKnight in eKnights" class="eKnight">
            <h3>{{eKnight.name}}</h3>
            <p>{{eKnight.about}}</p>
            <ul class="status-list">
                <li>
                    <strong>סטטוס: </strong> {{eKnight.status}}
                </li>
                <li>
                    <strong>רמת כניסה: </strong> {{eKnight.status}}
                </li>
            </ul>

            <div class="button-bar">
                <a class="btn" href="{{eKnight.permalink}}" target="_blank">
                    <span class="btn-icon fa fa-home"></span>
                    <span class="btn-text">עמוד הבית</span>
                </a>
                <a class="btn" href="#/{{eKnight.slug}}" target="_blank">
                    <span class="btn-icon fa fa-comments-o"></span>
                    <span class="btn-text">עמוד החשמביר</span>
                </a>
                <a class="btn" href="{{eKnight.github_repo}}" target="_blank">
                    <span class="btn-icon fa fa-github"></span>
                    <span class="btn-text">גיטהאב</span>
                </a>
            </div>
        </article>
    </div>

    <footer class="app-footer"></footer>
</div>