

<div ng-include="'templates/header.html'"></div>


<div class="row row-fix">
    <div class="col-xs-2"  >
        <div data-ui-scrollfix="+297">

            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span></span>
                <input type="text" ng-model="search" class="form-control search-query" placeholder="Search">
            </div>

            <div class="checkbox">
                <label><input type="checkbox" checked ng-change="updateState()"  ng-model="stateControls.showIssuesWithComments">Show issues with comments</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" checked ng-change="updateState()"  ng-model="stateControls.showIssuesWithOutComments">Show issues without comments</label>
            </div>




            <h4 class="text-center">Labels</h4>
            <ul class="nav nav-pills nav-stacked">
                <li class="tag-item"
                    ng-click="setSelectedLabels()"

                    ng-repeat="lbl in labels| orderBy:'name'"
                    style ="background-color: #{{lbl.color}};color: white;">
                    <span class="glyphicon" ng-class="isChecked(lbl.name)"></span>
                    <span class="badge pull-right">{{lbl.amount}}</span>
                    {{lbl.name}}
                </li>
            </ul>
        </div>
    </div>


    <div class="col-xs-10">
        <div
            ng-repeat="issue in filtered = (issues| githubTagsFilter:selectedLabels| checkboxesFilter:stateControls | filter:search) | orderBy:'created_at'
                        track by $index">

            <div class="user-box" ng-class="{'user-box-hebrew':issue.body_lang === 'hebrew'}">
                <img src="{{issue.user.avatar_url}}" alt="Avatar of {{issue.user.login}}"/>

                <div class="assignee-box" ng-if="issue.assignee !== null">
                    <img src="{{issue.assignee.avatar_url}}" alt="Avatar of {{issue.assignee.login}}"/>

                </div>
            </div>
            <div class="issue-content"  ng-class="{assigneBox:issue.assignee !== null}">
                <h4 class="title {{issue.title_lang}}-issue-title"><a href="{{issue.html_url}}" target="_blank" title="View on github"><i class="fa fa-github-alt"></i></a>
                    <span class="label label-primary comments-badge" ng-if="issue.comments != 0" data-ng-click="loadComments($event, issue)">
                        <i class="fa fa-comments-o"></i> {{issue.comments}} comments
                    </span>
                    {{issue.title}}
                </h4>
                <div class="{{issue.body_lang}}-issue-body like-a-pre"><span ng-bind-html="issue.body|highlight:search|trust"></span>
                </div>
                <span class="badge pull-right"
                      style="background-color: #{{label.color}}"
                      ng-repeat="label in issue.labels">
                    {{label.name}}
                </span>

                <span class="pull-left" title="Created at {{issue.israelFormatCreated_at}}"><i class="fa fa-calendar"></i> about {{issue.timeSince}} ago</span>
            </div>


            <div class="clearfix"></div>
            <div class="bubble-container" ng-repeat="comment in issue.comments_list">
                <img class="bubble-avatar" src="{{comment.user.avatar_url}}" alt="Avatar of {{comment.user.login}}"/>

                <div class="bubble">
                    <span class="bubble-title">
                        <a class="author" href="{{comment.user.html_url}}">{{comment.user.login}}</a> commented {{comment.timeSince}} ago.

                        <a href="{{comment.html_url}}" class="bubble-title-github" target="_blank" title="View on github">
                            <i class="fa fa-github-alt"></i></a>
                    </span>
                    <span class="bubble-box like-a-pre">{{comment.body}}</span>
                </div>
            </div>
            <hr>
        </div>

    </div>
</div>