
<div data-ui-show="showHide" class="float-pnl info-pnl">
    <a class="close-btn" ng-click="showHide = !showHide">
        <i class="fa fa-times-circle"></i>
    </a>
    <div ng-include="relativizePath('main-page/info.html')"></div>
</div>
<div data-ui-show="infoPnlSH" class="float-pnl what-is-eKnight">
    <a class="close-btn" ng-click="infoPnlSH = !infoPnlSH">
        <i class="fa fa-times-circle"></i>
    </a>
    <div data-ng-include="relativizePath('main-page/what-is-eKnight.html')"></div>
</div>


<div class="main">
    <div class="index-header ">
        <div>
            <h1>ארץ החשמבירים </h1>
            <h2>מבית הסדנא לידע ציבורי</h2>

            <a class="index-btn" ng-click="showHide = !showHide">מה הולך כאן?</a>
            <a class="index-btn" ng-click="infoPnlSH = !infoPnlSH">מה זה חשמביר?</a>
            <a class="index-btn" href="#/all-issues">רוצים לעזור קצת?</a>
        </div>
    </div>
    <div class="eknights">
        <article ng-repeat="eKnight in (eKnights|orderBy:'lastUpdate':true|emptyToEnd:'lastUpdate'|ageGroup:true)"
                 class="eKnight"
                 data-ng-include="relativizePath('main-page/eKnight.html')">
        </article>
    </div>

    <div class="old-eknights-warp" ng-if="oldReposExists == true">
        <h2>לא התעדכן כבר מלא זמן:</h2>
        <div class="eknights">
            <article ng-repeat="eKnight in (eKnights|orderBy:'lastUpdate':true|emptyToEnd:'lastUpdate'|ageGroup:false)"
                     class="eKnight"
                     data-ng-include="relativizePath('main-page/eKnight.html')">
            </article>
        </div>
    </div>
</div>

<div id="small-repos-warp" ng-include="relativizePath('main-page/small_repos.html')"></div>


<footer class="app-footer"></footer>
